@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .highCpu {
        background: red;
        color: white;
    }
</style>

<div id="computerInfo">

    <h2>Real-time System Resource Monitor</h2>
    <h5 data-bind="visible: connected">Connected to message hub</h5>

    <table border="0" class="table table-striped">
        <tr>
            <th>Machine</th>
            <th>CPU %</th>
            <th>Memory Available (Mb)</th>
            <th>Total Memory (Mb)</th>
            <th>Mem Available %</th>
        </tr>

        <!-- ko foreach: machines -->
        <tr data-bind="css: { highCpu: cpu() > 90 }">
            <td data-bind="text: machineName"></td>
            <td data-bind="text: cpu"></td>
            <td data-bind="text: memUsage"></td>
            <td data-bind="text: memTotal"></td>
            <td data-bind="text: memPercent"></td>
        </tr>
        <!-- /ko -->

    </table>

</div>

@section Scripts {
    <script src="~/Scripts/index.js"></script>
}
